@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Fira+Code&display=swap');


:root {
    --hitam: #101010;
    --putih: #cccccc;
    --putihBanget: #eeeeee;
    --bg: #0c1d2e;
}


body {
    margin: 0;
    padding: 0;
    color: var(--putihBanget);
    width: 100%;
    height: 100%;
    font-family: 'Catamaran';
    background: var(--bg)
}

.navz {
    background: var(--hitam);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1
}

.navz-login {
    display: flex;
    font-size: 12px;
}

.navz-login a {

    cursor: pointer;
    display: flex;
    color: var(--putih);
    margin-left: 10px;
    text-decoration: none;
    padding: 3px 10px;
    border: 1px solid var(--putih);
    transition: 0.15s;
    border-radius: 2px;
}

.navz-login i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.navz-login a:hover {
    color: black;
    border-color: cyan;
    background: cyan;
    transform: scale(1.2);
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1
}

.fieldz {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto
}


.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 47px 10px 50px 10px;
}

.feed h2 {
    text-align: center;
    margin: 30px 0 10px 0;
}

.feed h3 {
    text-align: center;
    margin: 10px 0;
}

.bgBlack {
    max-width: 600px;
    text-align: justify;
    background: #141620;
    padding: 0 10px;
    border-radius: 5px;
    color: var(--putih);
}

.fabout {
    background: #00000080;
    margin: 0 5px;
    border-radius: 5px;
}

.fabout li {
    margin: 5px 30px 5px 0;
    list-style: decimal;
    text-align: justify;
    text-shadow: 1px 1px 3px black,
        -1px -1px 3px black;
}

.fabout li a {
    transition: 0.2s;
}

.fabout li a:hover {
    color: cyan;
    border-radius: 3px;
}

.bgBlack p {
    margin: 10px 0;
    line-height: 1.3;
}

.bgBlack .atribusi {
    display: flex;
    justify-content: center;
}

.header {
    padding: 0 0 25px;
    display: flex;
    height: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg)
    }
}

.background .bola {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 31;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

.background .bola:nth-child(0) {
    color: #5560b4;
    top: 67%;
    left: 36%;
    animation-duration: 88s;
    animation-delay: -174s;
    transform-origin: 16vw 15vh;
    box-shadow: -40vmin 0 5.996688235363542vmin currentColor
}

.background .bola:nth-child(1) {
    color: #9155b4;
    top: 44%;
    left: 27%;
    animation-duration: 81s;
    animation-delay: -153s;
    transform-origin: 25vw 15vh;
    box-shadow: 40vmin 0 5.363104392579565vmin currentColor
}

.background .bola:nth-child(2) {
    color: #55b4a4;
    top: 25%;
    left: 36%;
    animation-duration: 125s;
    animation-delay: -177s;
    transform-origin: -1vw -8vh;
    box-shadow: 40vmin 0 5.48861614768062vmin currentColor
}

.background .bola:nth-child(3) {
    color: #9155b4;
    top: 44%;
    left: 72%;
    animation-duration: 123s;
    animation-delay: -59s;
    transform-origin: -13vw -22vh;
    box-shadow: -40vmin 0 5.382507364363863vmin currentColor
}

.background .bola:nth-child(4) {
    color: #55b4a4;
    top: 51%;
    left: 70%;
    animation-duration: 168s;
    animation-delay: -131s;
    transform-origin: 18vw -1vh;
    box-shadow: -40vmin 0 5.87846866295129vmin currentColor
}

.background .bola:nth-child(5) {
    color: #9155b4;
    top: 81%;
    left: 55%;
    animation-duration: 89s;
    animation-delay: -167s;
    transform-origin: 24vw 22vh;
    box-shadow: -40vmin 0 5.9663045258575975vmin currentColor
}

.background .bola:nth-child(6) {
    color: #5560b4;
    top: 90%;
    left: 74%;
    animation-duration: 73s;
    animation-delay: -83s;
    transform-origin: 17vw -19vh;
    box-shadow: -40vmin 0 5.239383572609172vmin currentColor
}

.background .bola:nth-child(7) {
    color: #5560b4;
    top: 73%;
    left: 34%;
    animation-duration: 134s;
    animation-delay: -92s;
    transform-origin: 19vw -17vh;
    box-shadow: -40vmin 0 5.9027031803696115vmin currentColor
}

.background .bola:nth-child(8) {
    color: #9155b4;
    top: 7%;
    left: 76%;
    animation-duration: 138s;
    animation-delay: -55s;
    transform-origin: -1vw -3vh;
    box-shadow: -40vmin 0 5.2631886401367485vmin currentColor
}

.background .bola:nth-child(9) {
    color: #9155b4;
    top: 88%;
    left: 14%;
    animation-duration: 113s;
    animation-delay: -75s;
    transform-origin: -21vw -6vh;
    box-shadow: 40vmin 0 5.28793001547199vmin currentColor
}

.background .bola:nth-child(10) {
    color: #5560b4;
    top: 40%;
    left: 77%;
    animation-duration: 89s;
    animation-delay: -138s;
    transform-origin: 25vw 7vh;
    box-shadow: 40vmin 0 5.456481357446257vmin currentColor
}

.background .bola:nth-child(11) {
    color: #5560b4;
    top: 59%;
    left: 10%;
    animation-duration: 63s;
    animation-delay: -87s;
    transform-origin: -10vw -23vh;
    box-shadow: 40vmin 0 5.811773838417775vmin currentColor
}

.background .bola:nth-child(12) {
    color: #9155b4;
    top: 93%;
    left: 11%;
    animation-duration: 122s;
    animation-delay: -8s;
    transform-origin: 13vw -2vh;
    box-shadow: 40vmin 0 5.110405545354496vmin currentColor
}

.background .bola:nth-child(13) {
    color: #55b4a4;
    top: 44%;
    left: 41%;
    animation-duration: 162s;
    animation-delay: -56s;
    transform-origin: 16vw -15vh;
    box-shadow: 40vmin 0 5.592428971211397vmin currentColor
}

.background .bola:nth-child(14) {
    color: #9155b4;
    top: 66%;
    left: 57%;
    animation-duration: 131s;
    animation-delay: -155s;
    transform-origin: -14vw -19vh;
    box-shadow: -40vmin 0 5.600748740482194vmin currentColor
}

.background .bola:nth-child(15) {
    color: #9155b4;
    top: 8%;
    left: 41%;
    animation-duration: 154s;
    animation-delay: -169s;
    transform-origin: 24vw 19vh;
    box-shadow: -40vmin 0 5.143338568159178vmin currentColor
}

.background .bola:nth-child(16) {
    color: #9155b4;
    top: 46%;
    left: 44%;
    animation-duration: 125s;
    animation-delay: -61s;
    transform-origin: 17vw -9vh;
    box-shadow: -40vmin 0 5.9721426234640855vmin currentColor
}

.background .bola:nth-child(17) {
    color: #5560b4;
    top: 5%;
    left: 79%;
    animation-duration: 32s;
    animation-delay: -190s;
    transform-origin: -21vw -8vh;
    box-shadow: 40vmin 0 5.529552799689011vmin currentColor
}

.background .bola:nth-child(18) {
    color: #55b4a4;
    top: 84%;
    left: 28%;
    animation-duration: 109s;
    animation-delay: -140s;
    transform-origin: -12vw 24vh;
    box-shadow: -40vmin 0 5.616954105657021vmin currentColor
}

.background .bola:nth-child(19) {
    color: #9155b4;
    top: 59%;
    left: 29%;
    animation-duration: 175s;
    animation-delay: -165s;
    transform-origin: 20vw 5vh;
    box-shadow: -40vmin 0 5.401106723144451vmin currentColor
}

.header .title {
    font-weight: bold;
    margin: 0
}

.middler {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    margin-bottom: 25px;
    padding-bottom: 25px
}

.explainer,
.sider {
    height: fit-content;
    border-radius: 5px;
    background: #141620;
    width: 50%;
    padding: 0 20px 10px;
    text-align: justify;
    margin: 0 5px
}

.explainer h3,
.sider h3 {
    text-align: center;
    margin-bottom: 0;
    color: #ddd
}

.sider li {
    text-align: left
}

.kt1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify
}

.bundar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    background: #494949;
    width: 25px;
    height: 25px;
    border-radius: 50%
}

.konten p {
    text-align: justify;
    line-height: 1.3em
}

.kt2 p {
    margin: 0
}

.kt2 .result {
    display: flex;
    align-items: center;
    justify-content: end
}

.sider p {
    margin-top: 5px;
    line-height: 1.3em
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center
}

.form textarea {
    color: #ddd;
    width: calc(100% - 20px);
    height: 150px;
    padding: 10px;
    outline: none;
    border: 1px solid #494949;
    border-radius: 5px;
    font-family: 'Catamaran';
    text-align: center;
    background: var(--hitam);
    resize: none
}

.form button,
.kembali {
    font-family: 'Catamaran';
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    border: 1px solid cyan;
    cursor: pointer;
    border-radius: 4px;
    background: none
}

.bngks {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 8px black;
    max-width: 75%;
    padding: 15px 20px 20px;
    background: var(--hitam)
}

.lists h3 {
    text-shadow: 0 0 5px black
}

.alinked {
    width: calc(40px + 75%);
    max-width: 608px;
    font-size: 14px;
    text-shadow: 0 0 3px black;
    margin-top: 20px;
    text-align: left
}

.clear {
    height: 7px
}

.breika {
    height: 5px;
    width: 100%;
    background: #404040
}

pre {
    margin: 0;
    width: 100%;
    max-width: 569px;
    overflow-x: auto
}

code {
    font-size: 12px;
    font-family: 'Fira Code'
}

code .penutup {
    color: cyan
}

code .elemen {
    color: red
}

code .atribut {
    color: #c300ff
}

code .pelaku {
    color: lime
}

code .korban {
    color: #91b4dd
}

code .pembuka {
    color: orange
}

.fira {
    font-family: 'Fira Code';
    font-size: 14px
}

.version-list {
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 10px;
    text-align: left;
    display: flex;
    color: white;
    flex-direction: column;
    text-shadow: 0 0 3px black
}

.for-class {
    background: var(--hitam);
    border: 1px solid #494949;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0
}

.for-class i {
    margin-left: 5px;
    color: white;
    font-size: 25px
}

.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hitam);
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px
}

a {
    color: #ff6fae
}

.kode-ket {
    line-height: 1;
    display: flex;
    font-size: 12px;
    color: #aaa
}

.navz-logo {
    cursor: pointer;
    transition: 0.2s;
}

.navz-logo:hover {
    color: cyan;
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    margin-bottom: 35px;
    width: 100%
}

.lists h3 {
    margin: 15px 0 0
}

.menu-klik {
    display: none;
    transition: 0.2s;
}

.menu-klik:hover {
    color: cyan;
}

.menu-lists {
    display: none;
    position: fixed;
    right: -157.844px;
    top: 47px;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    background: var(--hitam);
    color: white;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    transition: 0.5s;
}

.menu-lists a {
    display: flex;
    border-bottom: 1px solid gray;
    color: white;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 0.2s;
}

.menu-lists a.end {
    margin-bottom: 0;

}

.menu-lists a:hover {
    transform: scale(1.2);
    border-color: cyan;
}

.menu-lists i {
    display: flex;
    justify-content: center;
    width: 23px;
    margin-right: 5px;
}

::-webkit-scrollbar {
    background: none;
    width: 10px;
    height: 6px
}

::-webkit-scrollbar-track {
    background: var(--hitam)
}

.header::-webkit-scrollbar-track {
    background: none
}

::-webkit-scrollbar-thumb {
    background: #aaa
}

@media(max-width: 820px) {
    .header {
        padding: 0 0 20px
    }

    .middler {
        display: flex;
        flex-direction: column;
        justify-content: unset
    }

    .explainer,
    .sider {
        width: calc(100% - 50px);
        margin: 5px
    }
}

@media(max-width: 761px) {
    .navz-login {
        font-size: medium;
    }

    .navz-login span {
        display: none;
    }

    .navz-login a {
        margin-left: 7px;
        padding: 5px 5px;
    }

    .navz-login i {
        margin-right: 0;
    }

}

@media(max-width: 535px) {
    .navz-login {
        font-size: 25px;
    }

    .menu-lists {
        display: flex;
    }

    .navz-login .menu-klik {
        cursor: pointer;
    }

    .navz-login a {
        display: none;
    }

    .menu-klik {
        display: flex;
    }
}